:root {
  /* variables */
  --black: #35393c;
  --blue: #42858c;
  --pastel: #b5d5d0;
  --red: #db3a34;
  --green: #397367;
}

html {
  font-size: 20px;
  box-sizing: border-box;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: var(--pastel);
  color: var(--black);
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
  /* min-height: calc(100vh - 100px); */
}




.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--black);
  border-radius: 3px;
}
